.btn-danger {
  font-size: 10px;
  padding: 3px 7px;
}

.btn-danger:hover {
  border-radius: 5px;
  box-shadow: 5px 5px 5px #666;
  -o-transition: .5s;
  -ms-transition: .5s;
  -webkit-transition: .5s;
  opacity: .50;
}
