.btn-primary {
  margin-left: 7%;
  background-color: #A3C966;
  height: 32px;
  width: 115px;
}

.btn-primary:hover {
  border-radius: 5px;
  box-shadow: 35px 55px 45px #666;
  -o-transition: .5s;
  -ms-transition: .5s;
  -webkit-transition: .5s;
  opacity: .50;
  height: 45;
}

.quotes {
 font-family: 'VT323', monospace;
  font-size: 30px;
  color: #7A7874;
  margin-left: 7%;
}

.container {
 
}