/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
* {
  margin: 0px 0px 0px 30px;
  padding: 0px 16px 0px 15px;
}


html {
  height: 100%;
  background-image: url("assets/images/road.jpg");
  background-attachment: fixed;
  background-size: cover;
}


body {
  width: 87%;
  position: absolute;
  background-image: url("assets/images/tower.jpg");
  margin-left: 4%;
}