<div class="container-fluid">
  <div class="row">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <div class="form-group">

        <!-- Author input Section -->
        <label form="author">Author</label>
        <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>

        <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
          <p> Author is Required</p>

        </div>
      </div>

      <!-- Quote Input -->
      <div class="form-group">

        <label for="quote">Quote</label>
        <textarea class="form-control" id="quote" rows="3" [(ngModel)]="newQuote.author" name="quote" #quote="ngModel" required></textarea>
        <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
          <p> Quote is Required</p>

        </div>
      </div>

      <!--Submited by  -->
      <div class="form-group">

        <label for="user">Date:</label>
        <input type='date' id="user" [(ngModel)]="newQuote.userDate" name="userDate" #userDate="ngModel" required>
        <div [hidden]="userDate.valid || userDate.pristine" class="alert alert-danger">
          <p> submitted By Date is Required</p>
        </div>
      </div>

      <button type="Submit" class="btn btn-success btn-lg">Add Quote</button>

    </form>
  </div>
</div>
