.displaytext {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 15px;
  
}

#addquote {
  font-family: 'Cabin Sketch', cursive;
}

.form1 {
   width: 800px;
  padding: 4px;
  margin: 8px 0;
   border: 4px solid rgb(209, 5, 5);
  color: red;
 border-radius: 4%;
 
}

.form2 {
  width: 800px;
  border: 4px solid rgb(209, 5, 5);
  color: red;
  border-radius: 4%;
}

#addquote{
  margin-left: 50%;
  margin-top: -10%;
}















































































































































































































































































































































































































































































































































































































































  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  















































































































































































































































































































































































































































































































































































































































  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  















































































































































































































































































































































































































































































































































































































































  
  
  
  
  
  
  
  
  
  
  
  
  
  
